@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

  @layer base{
    body{
        @apply font-[Raleway]
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
    .btn-primary {
      @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
    }
  }
  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}
.bg-slate-700{
   Cbackground: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(5,4,51,1) 10%, rgba(7,6,60,1) 16%, rgba(13,13,88,1) 35%, rgba(8,93,155,1) 61%, rgba(6,120,178,1) 70%, rgba(4,154,206,1) 81%, rgba(3,175,224,1) 88%, rgba(0,212,255,1) 100%);


}
.bg-white{
  background: rgb(18,22,21);
  background: linear-gradient(98deg, rgba(18,22,21,1) 4%, rgba(9,14,106,0.9977240896358543) 100%);
}
.bg-gray{
  background: rgb(18,22,21);
background: linear-gradient(98deg, rgba(18,22,21,1) 4%, rgba(9,14,106,0.9977240896358543) 100%);

}

#workId{
  padding-top: 100px;
}
#contactId{
  padding-top:200px;
 
}
#contact-btn-id:hover{
  background: #2b3236;
  background-image: -webkit-linear-gradient(top, #2b3236, #50575c);
  background-image: -moz-linear-gradient(top, #2b3236, #50575c);
  background-image: -ms-linear-gradient(top, #2b3236, #50575c);
  background-image: -o-linear-gradient(top, #2b3236, #50575c);
  background-image: linear-gradient(to bottom, #2b3236, #50575c);
  text-decoration: none;
}
#helloId{
  
}
#cbt{
  padding-bottom: margin-;
}







